{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Client{% endblock %}

{% block body %}
<h1>Créer un nouveau Client</h1>

{{ form_start(form) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.adresse) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('client_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
